* {
    margin: 0;
}

body {
    width: 100%;
    height: 100vh;
    background: url(./ressources/assets/template.png) no-repeat center fixed; 
    -webkit-background-size: cover; 
    background-size: cover; 
    background-attachment: fixed;

}

/*font bootstrap*/

.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 0px;
    margin-bottom: 0px;
}


h3, p {
    font-family: 'JetBrains Mono', monospace;
    color: #FEFEFE;
}

h3 {
    font-size: 1.5em;
    color: #FEFEFE !important;
}


p {
    font-size: 2em;
    margin-top: 0.5em;
}

a {
    text-decoration: none;
}

/*img bootstrap configuration*/
img, svg {
    width: 100%;
}

/*configuration fichier base*/
.background {
    margin:0;
    padding:0;
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    text-align: center;
    padding-top: 1em;
    padding-bottom: 2em;
}

.logo img{
    width: 10%;
}

.container-block {
    margin-top: 1em;
    width: 100%;
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome, .block-slide, .block-photo {
    border: 3px solid #FEFEFE;
    padding: 1em;
    height: fit-content;
    margin-bottom: 2em;
}

.block.title{
    display: inline-flex;
    width: 100%;
    justify-content: space-between;
    padding-bottom: 1em;
    border-bottom: 1px solid #FEFEFE;
}

.block.title img{
    width: 35px;
    height: 35px;
}

.block-title h3 {
    width: 80%;
    margin-top: auto;
    margin-bottom: auto;
}

/*Home page*/
.welcome {
    width: 30%;
}

/*slide*/
.block-slide {
    width: 30%;
}

.carousel.pointer-event {
    width: 100%;
}

.carousel-inner {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    margin-top: 1em;
}

span.carousel-control-prev{
    width: 100%;
}

span.carousel-control-prev img{
    width: 60%;
}

span.carousel-control-next{
    width: 100%;
}

span.carousel-control-next img{
    width: 60%;
}

.carousel-indicators{
    position: initial;
}


.carousel-indicators [data-bs-target]{
    width: 30px;
    height: 30px !important;
}

.carousel-indicators img{
    width: 100%;
    height: 100%;
    justify-content: space-around;
}

/*qr code*/
.template-photos {
    margin-top: 1em;
}

.button-style{
    background-color: #FEFEFE;
    color: #D92E82;
    font-size: 1em;
    font-family: 'JetBrains Mono', monospace;
    margin-top:1em;
    padding: 0.5em 1em;
    cursor: pointer;
    text-decoration: none;
}

.button-style a {
    text-decoration: none;
}

.button-style:hover {
    background-color: #D92E82;
    color: #FEFEFE;
    transition: ease-in-out 1s;
}










