* {
    margin: 0;
}

.background {
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
    background: url(./ressources/assets/template.png) no-repeat center fixed; 
    -webkit-background-size: cover; 
    background-size: cover; 
}

.logo {
    width: 100%;
    text-align: center;
    padding-top: 3em;
}

/*font*/

h3, p {
    font-family: 'JetBrains Mono', monospace;
    color: #FEFEFE;
}

h3 {
    font-size: 1.5em;
    border-bottom: 1px solid #FEFEFE;
    padding-bottom: 0.5em;
}


p {
    font-size: 2em;
}


.container-block {
    width: 100%;
    padding: 0 10%;
    display: flex;
    flex-direction: column;
}

.welcome, .sliders {
    height: auto;
    border: 3px solid #FEFEFE;
    padding: 1em;
    display: flexbox;
}
.welcome {
    width: 30%;
}

.sliders {
    width: 45%;
}



