* {
    margin: 0;
}

.background {
    width: 100%;
    height: 100vh;
    margin:0;
    padding:0;
    background: url(./ressources/assets/template.png) no-repeat center fixed; 
    -webkit-background-size: cover; 
    background-size: cover; 
    display: flex;
    flex-direction: column;
}

.logo {
    width: 100%;
    text-align: center;
    padding-top: 1em;
}

/*font*/
h3, p {
    font-family: 'JetBrains Mono', monospace;
    color: #FEFEFE;
}

h3 {
    font-size: 1.5em;
    border-bottom: 1px solid #FEFEFE;
    padding-bottom: 0.5em;
}


p {
    font-size: 2em;
    margin-top: 0.5em;
}

a {
    text-decoration: none;
}
button {
    background-color: #FEFEFE;
    color: #D92E82;
    font-size: 1em;
    font-family: 'JetBrains Mono', monospace;
    margin-top:1em;
    padding: 0.5em 1em;
    cursor: pointer;
}

button:hover{
    background-color: #D92E82;
    color: #FEFEFE;
    transition: ease-in-out 1s;
}




/*block*/ 
.container-block {
    margin-top: 1em;
    width: 90%;
    padding: 0 5%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.welcome, .sliders {
    border: 3px solid #FEFEFE;
    padding: 1em;
    height: fit-content;
}

.welcome {
    width: 25%;
    
}

.sliders {
    width: fit-content;
}

.template-photos {
    width: 100%;
    height: 100%;
    text-align: center;
}

.template-photos img{
    width: 60%;
    margin-top: 1em;
}

