@media screen and (max-width: 1080px){
  
  p {
    font-size: 1.7em;
  }

  .logo img{
    width: 35%;
  }
  /*page d'accueil*/
  .container-block{
    display: flex !important;
    width: auto;
    flex-direction: column-reverse;
  }

  .welcome {
    width:auto;
    margin-bottom: 2em;
  }

  .block-slide{
    width: 100%;
  }

  /*qr code*/

  .block-photo {
    width: 100%;
  }
}



