@media screen and (max-width: 1080px){
  
  p {
    font-size: 1.3em;
  }

  /*page d'accueil*/
  .container-block{
    display: block !important;
    /*padding-left: 5%;
    padding-right: 5%;
    width: 100%;*/
    width: auto;
  }

  .welcome {
    width:auto;
    margin-bottom: 2em;
  }

  .block-slide{
    width: 100%;
  }

  /*qr code*/

  .block-photo {
    width: auto;

  }
}



